.c-choice-wrap{
  &__form{
    justify-content: center;
    align-items: center;
    height: 500px;
    @include mq(){
      height: 100vh;
    }
  }
  &__list{
    flex-direction: column;
    width: 50%;
    @include mq(){
      width: 100%;
    }
  }
  &__item{
    padding: $span-s;
    margin: $span-s;
    border-radius: 3px;
    background-image: url("../img/tegami_mini1.png");
    background-position: center;
    background-size: 100% 100%;
  }
  &__btn{
    width: 100%;
    border-radius: 3px;
    transition: .2s;
    &:hover{
      background: $color-back-bright-opa;
    }
  }

}
