.p-game-title{
    font-size: $font-xxl;
    color: rgba(0, 0, 0, 0);
    text-shadow: 3px 3px 0 #e6a9a1;
    -webkit-text-stroke: 1px #e6e6e6;
    font-family: $font-fam-sub;
    font-weight: normal;
}
